<%- include('_navBarPartials')%>
    <h2> All Habits will Show Here. </h2>

    <div>

        <ul>

            <%for(let i=0; i<allHabits.length; i++){%>
                <li>
                    <%=allHabits[i].habitTitle%> <small>
                            <%=allHabits[i].habitDescription%>
                        </small>
                        <div>
                            <% let k=0; %>
                            <%for(let j=new Date(`${yearD}-${monthD}-${startD}`); j<=new
                                Date(`${currentYear}-${currentMonth}-${todayDate}`);j.setDate(j.getDate() + 1),k++){%>

                                <button>
                                    <%=j.getDate()%>
                                </button>
                                <%=sevenDay[i][k]%>
                            <%}%>
                        </div>
                </li>
            <%}%>

        </ul>

    </div>