<title>Habit</title>
<link rel="stylesheet" href="/css/habitPage.css">
<script src="/js/habitPage.js" defer></script>
<%- include('_navBarPartials')%>

    <div id="hide_unhide_onupdate">

        <%if(allHabits.length==0){%>
            <h3 class="h3">No Habits To Show.</h3>
            <%}else{%>
        <ul class="ul1">

            <%console.log("FEND 7dinpahle current time "," = ",new Date(new Date(new Date().setDate(new Date().getDate()-6)).setHours(new Date().getHours()+5,30)))%>
            <%console.log("FEND 7dinpahle rat k 12:0 "," = ",new Date(new Date(new Date().setDate(new Date().getDate()-6)).setHours(0,0,0)))%>
            <%console.log("FEND New Date to check Indian date or utc Date "," = ", new Date())%><%// give UTC time%>
            <%for(let i=0; i<allHabits.length; i++){%>
                <li class="li_1">
                    <div class="_grid">
                        <h4><%=allHabits[i].habitTitle%> </h4>
                        <button value="<%=allHabits[i]._id%>" class="_pencil" data-title="<%=allHabits[i].habitTitle%>" data-desc="<%=allHabits[i].habitDescription%>"><i class="fa-solid fa-pencil fa-xs" ></i></button>
                        <a href="/delete_habit/<%=allHabits[i]._id%>" class="_delete"><i class="fa-regular fa-trash-can fa-xs"></i> </a>
                    </div>
                    <small><%=allHabits[i].habitDescription%></small>
                        <div class="flex">
                            <%let abc;%>

            <% let d_t_ = new Date(); d_t_.setHours(d_t_.getHours()+5); d_t_.setMinutes(d_t_.getMinutes()+30);%>
                            <%for(let j=new Date(new Date(d_t_.setDate(d_t_.getDate()-6)).setHours(0,0,0)),k=0; j<=date;j.setDate(j.getDate() + 1)){%>

                                    <%if(k<sevenDay[i].length){%>
                                        <% abc=sevenDay[i][k]%>
                                    <%}%>
                          
                                    <%if(abc.allDate.getDate()==j.getDate()){%>
                                        <%if(abc.complStatus==true){%>
                                            <button class="green button" title="Done"> <div><%=days[j.getDay()]%> </div>  <strong> <%=j.getDate()%> </strong>  </button>
                                            <%}else if(abc.complStatus==false){%>

                                                <button class="red button" title="Not done"> <div><%=days[j.getDay()]%> </div> <strong> <%=j.getDate()%> </strong>  </button>
                                        <%}else{%>
                                            <button class="yellow button" title="None"> <div><%=days[j.getDay()]%> </div> <strong> <%=j.getDate()%> </strong>  </button>
                                            <%}%>
                                        <% k++;%>
                                    <%}else{%>
                                        <button disabled class="button"> <div><%=days[j.getDay()]%> </div>  <%=j.getDate()%>  </button>
                                      <%}%>
                                
                            <%}%>

                        </div>
                        <a href="/calendar"><button class="calendar" data-id="<%=allHabits[i]._id%>" style="cursor:pointer;border: 1px solid black; width: 100%;color: blueviolet;"><i class="fa-solid fa-calendar-days fa-lg"></i></button></a>
                </li>
            <%}%>

        </ul>
        <%}%>

    </div>

    <div id="updatingHabit">
        <div class="close"> <i class="fa-solid fa-xmark"></i> </div>
        <form method="post" id="updatesaveform">

            <div class="div">
                <input type="text" name="habitTitle" id="updateTitle" required>
                <label for="habitTitle" class="label"> Title: </label>
            </div>
            <div class="div">
                <input type="text" name="habitDescription" id="updateDescription" required>
                <label for="habitDescription" class="label"> Description: </label>
            </div>
            <div class="div">
                <input type="submit" value="Save">
            </div>
        </form>

    </div>
