<%- include('_navBarPartials')%>
    <h2> All Habits will Show Here. </h2>

    <div>

        <ul>

            <%for(let i=0; i<allHabits.length; i++){%>
                <li>
                    <%=allHabits[i].habitTitle%> <small>
                            <%=allHabits[i].habitDescription%>
                        </small>
                        <div>
                            <%let abc;%>
                            <%for(let j=new Date(`${yearD}-${monthD}-${startD}`),k=0; j<=new
                                Date(`${currentYear}-${currentMonth}-${todayDate}`);j.setDate(j.getDate() + 1)){%>


                                    <%if(k<sevenDay[i].length){%>
                                        <% abc=sevenDay[i][k]%>
                                    <%}%>
                          
                                    <%if(abc.allDate.getDate()==j.getDate()){%>
                                        <%if(abc.complStatus==true){%>
                                            <button style="background-color: green;">  <strong> <%=j.getDate()%> </strong>  </button>
                                            <%}else if(abc.complStatus==false){%>

                                                <button style="background-color: red;"> <strong> <%=j.getDate()%> </strong>  </button>
                                        <%}else{%>
                                            <button style="background-color: yellow;">  <strong> <%=j.getDate()%> </strong>  </button>
                                            <%}%>
                                        <% k++;%>
                                    <%}else{%>
                                        <button disabled>  <%=j.getDate()%>  </button>
                                      <%}%>
                                
                            <%}%>

                        </div>
                </li>
            <%}%>

        </ul>

    </div>