<link rel="stylesheet" href="/css/habitPage.css">
<%- include('_navBarPartials')%>
    <h2> All Habits will Show Here. </h2>

    <div>

        <ul class="ul1">

            <%for(let i=0; i<allHabits.length; i++){%>
                <li>
                    <h4><%=allHabits[i].habitTitle%> </h4>
                    <small><%=allHabits[i].habitDescription%></small>
                        <div class="flex">
                            <%let abc;%>
                            <%for(let j=new Date(`${yearD}-${monthD}-${startD}`),k=0; j<=new
                                Date(`${currentYear}-${currentMonth}-${todayDate}`);j.setDate(j.getDate() + 1)){%>


                                    <%if(k<sevenDay[i].length){%>
                                        <% abc=sevenDay[i][k]%>
                                    <%}%>
                          
                                    <%if(abc.allDate.getDate()==j.getDate()){%>
                                        <%if(abc.complStatus==true){%>
                                            <button class="green" title="Done"> <div><%=days[j.getDay()]%> </div>  <strong> <%=j.getDate()%> </strong>  </button>
                                            <%}else if(abc.complStatus==false){%>

                                                <button class="red" title="Incomplete"> <div><%=days[j.getDay()]%> </div> <strong> <%=j.getDate()%> </strong>  </button>
                                        <%}else{%>
                                            <button class="yellow" title="Not Done"> <div><%=days[j.getDay()]%> </div> <strong> <%=j.getDate()%> </strong>  </button>
                                            <%}%>
                                        <% k++;%>
                                    <%}else{%>
                                        <button disabled> <div><%=days[j.getDay()]%> </div>  <%=j.getDate()%>  </button>
                                      <%}%>
                                
                            <%}%>

                        </div>
                </li>
            <%}%>

        </ul>

    </div>