<title>Habit Tracker | Home</title>
<link rel="stylesheet" href="/css/home.css">
<script src="/js/home.js" defer></script>
<%- include('_navBarPartials')%>
    <main>
        <div class="dv">
            <div id="currentDateInfo">

            </div>

            <div id="container">

            </div>

            <div id="addHabit">
                <span class="add"><i class="fa-solid fa-plus fa-sm"> </i> Add habit</span>
                <ul class="habits">
                    <%if(data.length==0){%>
                        <div class="nohabit"> <h3> No Habits To Show, Create Habit On Clicking + Button. </h3> </div>
                        <%}else{%>
                            <table>
                                <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Starting date</th>
                                        </tr>
                                </thead>
                            
                    <% for(let i=0; i<data.length; i++){ %>
                        <tr>
                            <td>
                            <span class="wrongRight">
                                <%if(dateDetail[i].complStatus==true){%>
                                    <a 
                                        href="/complitionstatus/<%=dateDetail[i]._id%>/<%=paramDate%>/?year=<%=year%>&&month=<%=month%>&&value=false">
                                        <i class="fa-solid fa-circle-check" title="Done"></i> </a>
                                    <%}else if(dateDetail[i].complStatus==false){%>
                                        <a
                                            href="/complitionstatus/<%=dateDetail[i]._id%>/<%=paramDate%>/?year=<%=year%>&&month=<%=month%>&&value=null">
                                            <i class="fa-sharp fa-solid fa-circle-xmark" title="Incomplete"></i> </a>
                                        <%} else{%>
                                            <a
                                                href="/complitionstatus/<%=dateDetail[i]._id%>/<%=paramDate%>/?year=<%=year%>&&month=<%=month%>&&value=true">
                                                <i class="fa-solid fa-circle" title="Not Done"></i> </a>
                                            <%}%>
                            </span>
                        </td>
                        <td><%=data[i].habitTitle %></td>
                        <td><%=data[i].habitDescription%></td>
                        <td> <%=data[i].startingDate.getDate()%>-<%=months[data[i].startingDate.getMonth()]%>-<%=data[i].startingDate.getFullYear()%></td>
                            
                    </tr>
                        <%}%>
                    </table>
                        <%}%>
                </ul>

            </div>
        </div>

        <div class="addingHabit">
            <div class="close"> <strong>X</strong> </div>
            <form method="post" id="habitsaveform">

                <div class="div">
                    <input type="text" name="habitTitle" id="habitTitle" required>
                    <label for="habitTitle" class="label"> Title: </label>
                </div>
                <div class="div">
                    <input type="text" name="habitDescription" id="habitDescription" required>
                    <label for="habitDescription" class="label"> Description: </label>
                </div>
                <div class="div">
                    <input type="submit" value="Save">
                </div>
            </form>

        </div>

    </main>